<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load custom_tags %}
  {% load i18n %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <title>Registros</title>
  <style>
    #bg-complete {
      background: #52b788; /* Color de fondo personalizado */
    }
    
    .container-fluid,
    .container-fluid ul {
      background-color: #306191;
    }

    .dropdown-item:hover {
      background-color: #5f86ad;
    }

    .btn:hover{
      transform: scale(1.05);
    }
  </style>
</head>

<body>
  {% include 'nav.html' %}

  <table class="table" id="tabla">
    <thead>
        {% for field in records_name %}
            <!-- {% if forloop.counter0|divisibleby:6 %}
                <tr>
            {% endif %} -->
            <th scope="col" class="text-center fs-5">{{ field.verbose_name }}</th>
            <!-- {% if forloop.counter0|add:1 == records_name|length %} -->
            <th scope="col" class="text-center fs-5">Acciones</th>
                <!-- </tr>
            {% endif %} -->
        {% endfor %}
    </thead>
    <tbody>
        {% for record in records %}
          <tr>
            {% for field in records_name %}
              <!--{% if forloop.counter0|divisibleby:6 %}
                  <tr>
                {% endif %} -->
                {% if record.status == 'Completado' %}
                    <td scope="col" class="text-center text-white" id="bg-complete">{{ record|getattr_filter:field.name }}</td>
                {% else %}
                    <td scope="col" class="text-center">{{ record|getattr_filter:field.name }}</td>
                {% endif %}
                <!-- {% if forloop.counter0|add:1 == records_name|length %}   -->
                {% if record.status == 'Completado' %}
                    <td class="col text-center" id="bg-complete">
                      <a href='{{ request.build_absolute_uri }}update/{{record.pk}}/' class="page-link border-0 bg-success text-white d-inline-block p-1 mx-2 mb-1 btn">Modificar</a>
                      <a href='{{ request.build_absolute_uri }}delete/{{record.pk}}/' class="page-link border-0 bg-danger text-white d-inline-block p-1 mx-2 mb-1 btn">Eliminar</a>
                      {% if 'detail/' in request.path %}
                        <a href='{{ request.scheme }}://{{ request.get_host }}/detail/info/{{record.pk}}/' class="page-link border-0 bg-warning text-white d-inline-block py-1 px-2 mx-2 mb-1 btn">Ver</a></button>
                      {% endif %}
                    </td>
                {% else %}
                  <td class="col text-center">
                    {% if request.path == '/' %}
                      <a href='{{ request.build_absolute_uri }}master/plan/details/{{record.id}}/' class="page-link border-0 bg-warning text-white d-inline-block py-1 px-2 mx-2 mb-1 btn">Ver</a></button>
                    {% endif %}
                      <a href='{{ request.build_absolute_uri }}update/{{record.pk}}/' class="page-link border-0 bg-success text-white d-inline-block p-1 mx-2 mb-1 btn">Modificar</a>
                      <a href='{{ request.build_absolute_uri }}delete/{{record.pk}}/' class="page-link border-0 bg-danger text-white d-inline-block p-1 mx-2 mb-1 btn">Eliminar</a>
                      {% if 'detail/' in request.path %}
                        <a href='{{ request.scheme }}://{{ request.get_host }}/detail/info/{{record.pk}}/' class="page-link border-0 bg-warning text-white d-inline-block py-1 px-2 mx-2 mb-1 btn">Ver</a></button>
                      {% endif %}
                  </td>
                {% endif %} 
                    <!-- </tr>
                {% endif %} -->
            {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
  </table>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>