<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load custom_tags %}
    {% load i18n %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <title>Plan Maestro</title>
    <style>
        #bg-complete {
            background: #52b788; /* Color de fondo personalizado */
        }

        .container-fluid,
        .container-fluid ul {
            background-color: #306191;
        }

        .dropdown-item:hover {
            background-color: #5f86ad;
        }

        .btn:hover{
            transform: scale(1.05);
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}

    <div class="container" id="container-data">
        <div class="row">
            <div class="col-md-4">
                <strong>Master plan:</strong>
                <p>{{ master.name }}</p>
            </div>
            <div class="col-md-4">
                <strong>Fecha de creación:</strong>
                <p>{{ master.date_created }}</p>
            </div>
            <div class="col-md-4">
                <strong>Descripción:</strong>
                <p>{{ master.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <strong>Operaciones:</strong>
                {% if request.user.role == 'A' %}
                    <a href="{% url 'master-detail-create' master.id %}" class="page-link border-0 bg-info text-white d-inline-block py-1 px-2 btn">Agregar</a></button>
                {% endif %}
                <a class="page-link border-0 bg-secondary text-white d-inline-block py-1 px-2 btn" onclick="exportTableToExcel()">Imprimir</a></button>
            </div>
        </div>
        <div class="row">
            <form method="post">
                {% csrf_token %}
                
                <div class="row">
                    {% for field in form %}
                        <div class="col-auto mt-3">
                            {% if request.user.role == 'B' and field.name == 'responsible' %}
                            {% else %}
                                <strong for="{{ field.name }}">{{ field.label_tag }}</strong>
                            {% endif %}
                            <div class="col">
                                {% if field.field.widget.input_type == 'select' %}
                                    {% if request.user.role == 'B' and field.name == 'responsible' %}
                                    {% else %}
                                        <select name="{{ field.name }}">
                                            {% for choice in field.field.choices %}
                                                {% if field.value == choice.0 %}
                                                    <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                                                {% else %}
                                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>

                                        {% for error in field.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% elif field.field.widget.input_type == 'text' %}
                                    <input
                                        type="text"
                                        value="{{ field.value|default_if_none:'' }}"
                                        name="{{ field.name }}"
                                    />
                                    
                                    {% for error in field.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                {% elif field.field.widget.input_type == 'date'%} 
                                    <input
                                        type="date"
                                        value="{{ field.value|default_if_none:'' }}"
                                        name="{{ field.name }}"
                                    />
                                    
                                    {% for error in field.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                {% elif field.field.widget.input_type == 'email'%}
                                    <input
                                        type="email"
                                        value="{{ field.value|default_if_none:'' }}"
                                        name="{{ field.name }}"
                                    />
                                    
                                    {% for error in field.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                {% elif field.field.widget.input_type == 'password'%} 
                                    <input
                                        type="password"
                                        value="{{ field.value|default_if_none:'' }}"
                                        name="{{ field.name }}"
                                    />
                                    
                                    {% for error in field.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-4 mt-3 flex-grow-1 text-end">
                        <button class="btn btn-sm bg-dark text-white mt-3" type="submit" name="action" value="search">Buscar</button>
                        <button class="btn btn-sm bg-primary text-white mt-3" type="submit">Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table" id="tabla">
        <thead>
            <tr>
                {% for field in records_name %}
                    <th scope="col" class="text-center fs-5">{{ field.verbose_name }}</th>
                {% endfor %}
                {% if request.user.role == 'A' %}
                    <th scope="col" class="text-center fs-5">Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    {% for field in records_name %}
                        {% if record.status == 'Completado' %}
                            <td scope="col" class="text-center text-white" id="bg-complete">{{ record|getattr_filter:field.name }}</td>
                        {% else %}
                            <td scope="col" class="text-center">{{ record|getattr_filter:field.name }}</td>
                        {% endif %}
                    {% endfor %}
                    {% if request.user.role == 'A' %}
                        {% if record.status == 'Completado' %}
                            <td class="col text-center" id="bg-complete">
                                <a href='{{ request.scheme }}://{{ request.META.HTTP_HOST }}/detail/update/{{record.pk}}/' class="page-link border-0 bg-success text-white d-inline-block p-1 mx-2 mb-1 btn">Modificar</a>
                                <a href='{{ request.scheme }}://{{ request.META.HTTP_HOST }}/detail/delete/{{record.pk}}/' class="page-link border-0 bg-danger text-white d-inline-block p-1 mx-2 mb-1 btn">Eliminar</a>
                            </td>
                        {% else %}
                            <td class="col text-center">
                                <a href='{{ request.scheme }}://{{ request.META.HTTP_HOST }}/detail/update/{{record.pk}}/' class="page-link border-0 bg-success text-white d-inline-block p-1 mx-2 mb-1 btn">Modificar</a>
                                <a href='{{ request.scheme }}://{{ request.META.HTTP_HOST }}/detail/delete/{{record.pk}}/' class="page-link border-0 bg-danger text-white d-inline-block p-1 mx-2 mb-1 btn">Eliminar</a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="https://unpkg.com/exceljs/dist/exceljs.min.js"></script>
    <script>
        async function exportTableToExcel() {
            // Tabla HTML
            var tablaHTML = document.getElementById('tabla'); // Reemplaza 'miTabla' con el ID de tu tabla
            
            var excel = new ExcelJS.Workbook();
            var hoja = excel.addWorksheet('Master Data');

            // Titulo de las columnas
            var filasHTML = tablaHTML.getElementsByTagName('tr');
            for (var i = 0; i < filasHTML.length; i++) {
                var celdasHTML = filasHTML[i].getElementsByTagName('th');

                for (var j = 0; j < celdasHTML.length; j++) {
                    var valorCelda = celdasHTML[j].innerText;

                    hoja.getCell(String.fromCharCode(65 + j) + (i + 1)).value = valorCelda;             
                }
            }
            
            // Valores de las columnas
            var filasHTML = tablaHTML.getElementsByTagName('tr');
            for (var i = 0; i < filasHTML.length; i++) {
                var celdasHTML = filasHTML[i].getElementsByTagName('td');

                for (var j = 0; j < celdasHTML.length; j++) {
                var valorCelda = celdasHTML[j].innerText;

                hoja.getCell(String.fromCharCode(65 + j) + (i + 1)).value = valorCelda;
                }
            }

            var buffer = await excel.xlsx.writeBuffer();
            var blob = new Blob([buffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
            var url = window.URL.createObjectURL(blob);
            var link = document.createElement('a');
            link.href = url;
            link.download = 'Plan-Maestro.xlsx';
            link.click();
            window.URL.revokeObjectURL(url);
        }
    </script>

</body>

</html>